/* src/styles/index.css (Pembersihan Wajib) */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  /* Hanya reset margin. 
    Semua styling background dan warna 
    akan di-handle oleh App.css.
  */
  margin: 0;
}